{
  "extends": "airbnb",
  "rules": {
    "no-use-before-define": ["error", {"functions":false}],
    "no-unused-vars": ["error", {"vars": "all", "args": "none"}],
    "prefer-const": ["error", {
      "destructuring": "all"
    }],
    "no-else-return": "off",
    "class-methods-use-this": "off",
    "no-continue": "off"
  },
}
